<a href="https://colab.research.google.com/github/samezqui/fullofstars/blob/constellations/2am_Constellations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
# Load the Drive helper and mount
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [138]:
import pandas as pd
import numpy as np 

df = pd.read_csv('/content/drive/My Drive/Constellations.csv')


for idx,val in df.iterrows():
  df.loc[idx,'vis_mag'] = float(df.loc[idx,'vis_mag'])
  
  
df = df[df['vis_mag'] <= 2.5] # Bigger number = more stars 
print('After filtering, there are {} stars'.format(len(df)))
# Stars we are able to see by the naked eye on a clear night 

df

After filtering, there are 20 stars

,Constellations,Name,HIP,RA,Dec,vis_mag,abs_mag
0,Andromeda,α And,677.0,00h 08m 23.17s,+29° 05′ 27.0″,2.07,−0.30
1,Andromeda,β And,5447.0,01h 09m 43.80s,+35° 37′ 15.0″,2.07,−1.86
2,Andromeda,γ1 And,9640.0,02h 03m 53.92s,+42° 19′ 47.5″,2.10,−3.08
178,Aries,α And,677.0,00h 08m 23.17s,+29° 05′ 27.0″,2.07,−0.30
179,Aries,β And,5447.0,01h 09m 43.80s,+35° 37′ 15.0″,2.07,−1.86
180,Aries,γ1 And,9640.0,02h 03m 53.92s,+42° 19′ 47.5″,2.10,−3.08
356,Cassiopeia,γ Cas,4427.0,00h 56m 42.50s,+60° 43′ 00.3″,2.15,−4.22
357,Cassiopeia,α Cas,3179.0,00h 40m 30.39s,+56° 32′ 14.7″,2.24,−1.99
358,Cassiopeia,β Cas,746.0,00h 09m 10.09s,+59° 09′ 00.8″,2.28,1.17
672,Orion,Rigel,24436.0,05h 14m 32.27s,−08° 12′ 05.9″,0.18,NaN
673,Orion,Betelgeuse,27989.0,05h 55m 10.29s,+07° 24′ 25.3″,0.42,−6.69
674,Orion,Bellatrix,25336.0,05h 25m 07.87s,+06° 20′ 59.0″,1.64,−6.02
675,Orion,Alnilam,26311.0,05h 36m 12.81s,−01° 12′ 06.9″,1.69,−2.72
676,Orion,Alnitak A,26727.0,05h 40m 45.52s,−01° 56′ 33.3″,1.88,−6.38
677,Orion,Saiph,27366.0,05h 47m 45.39s,−09° 40′ 10.6″,2.07,-6
678,Orion,Mintaka AB,25930.0,05h 32m 00.40s,−00° 17′ 56.7″,2.20,−4.65
976,Perseus,α Per,15863.0,03h 24m 19.35s,+49° 51′ 40.5″,1.79,NaN
977,Perseus,Algol,14576.0,03h 08m 10.13s,+40° 57′ 20.3″,2.09,−4.50
1149,Taurus,Aldebaran,21421.0,04h 35m 55.20s,+16° 30′ 35.1″,0.87,5.77
1150,Taurus,β Tau,25428.0,05h 26m 17.50s,+28° 36′ 28.3″,1.65,−0.63

##Find Stars for each Unique Constellation 
Starting with Andromeda

Figured this out using HW 6 as a reference!!!

In [154]:
names = df['Constellations '].unique() # np.ndarray of Constellations that make filter
print(names)
# print(type(names))
# print(names[0])

num_cons = len(names) # number of constellations 
print(num_cons)

sam_df = pd.DataFrame(index=range(0,num_cons),columns=['ra','dec'])
# index = names 

# find how many unique stars are in a constellation
for val in range(0,num_cons):
  one_sample = df['Constellations '] == names[val]
  star_num = len(df.loc[one_sample,'RA'].unique())
  print(df[one_sample]['RA'])
  
  
# create new dataframe with location of stars within constellations

  sam_df.loc[val,'ra'] = pd.DataFrame(sam_df.append(df.loc[0]['vis_mag']))
  sam_df.loc[val,'dec'] = pd.DataFrame(sam_df.append(df.loc[0]['vis_mag']))

# append RA and dec



# convert strings so they can be used in SkyCoord

sam_df

['Andromeda' 'Aries' 'Cassiopeia' 'Orion' 'Perseus ' 'Taurus ']
6
0     00h 08m 23.17s
1     01h 09m 43.80s
2     02h 03m 53.92s
Name: RA, dtype: object

TypeError: ignored